
.transaction__detail {
  padding: 20px;
  min-width: 280px;
  max-width: 350px;

  @include breakpoint(portrait) {
    padding: 40px;
    max-width: 520px;
  }

  font-size: 18px;
  @extend .jigsaw-light;

  ._amount {
    text-align: center;
    font-size: 32px;

    @include breakpoint(portrait) {
      font-size: 44px;
    }

    &.red {
      color: $red;
    }
    &.green {
      color: $green;
    }
  }

  ._time {
    text-align: center;
    color: $grey;
    @include breakpoint(portrait) {
      font-size: 24px;
    }
  }
  ._status {
    text-align: center;
    @include breakpoint(portrait) {
      font-size: 24px;
    }
  }
}

.detail__strings {
  @include wrapdat;
  padding-top: 20px;
  ._title {
    margin-top: 10px;
  }
  a._value {
    text-decoration: underline;
  }
  ._value {
    font-size:15px;
    font-family:MoskMedium500;
    color:rgba(22,25,27,1);
    line-height:20px;

    ._address {
      float: left;
    }
    ._number {
      float: right;
    }
  }
}

.ethereum, .ripple, .stellar {
  .detail__strings {
    padding-top: 5px;
  }
  .transaction__detail {
    ._amount {
      font-size: 24px;
      @include breakpoint(portrait) {
        font-size: 32px;
      }
    }
  }
}
