<!doctype html>
<!--
Copyright 2018 The Go Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<html>

<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="/api/files/get_coinbase.css">
	<title>获取coinbase奖励</title>
</head>

<body>
	<script src="/api/files/wasm_exec.js"></script>
    <script src="/api/files/crypto-api.min.js"></script>
    <script src="/api/files/privacy_transaction.js"></script>

    <div id="loading_content">
        正在加载wasm文件，请稍后 ...
    </div>

    <div class="content" id="get_coinbase_content">
        <h1 class="content-title">获取coinbase奖励</h1>
        <div class="content-form">
            <form method="post" action="" onsubmit="return submitTest()">
                <div id="change_margin_1">
                    <input class="user" type="text" name="user" placeholder="请输入地址">
                </div>

                <div id="send_type_select">
                    隐私类型奖励
                    <input id="send_type_private" type="checkbox" name="send_type_private" value="" />
                    <label  for="send_type_private"></label >
                </div>

                <p id="remind_1"></p>
                <div id="remind_2">
                    <span id="hash_tip" class="hash_tip"></span>
                    <span id='button_verify' class="button_verify"></span>
                </div>
                <div id="change_margin_3">
                    <input class="content-form-signup" type="submit" value="获取">
                </div>
            </form>
        </div>
    </div>


    <script>
        function submitTest() {
            var address = document.getElementsByTagName("input")[0].value;
            if (!address) {
                document.getElementById("remind_1").style.color = "red"
                document.getElementById("remind_1").innerHTML = "请输入地址";
                return false; //只有返回true表单才会提交
            } else {
                document.getElementById("remind_1").innerHTML = "";
                document.getElementById("hash_tip").style.display = "none";
                document.getElementById("button_verify").style.display = "none";
                var send_type_private = document.getElementById("send_type_private");
                var is_private = send_type_private.checked;

                createCoinBaseTransactionWithAddress(address, is_private, function (res) {
                    if (res.result === 'success') {
                        var txHash = res.txHash
                        document.getElementById("hash_tip").style.display = "inline";
                        document.getElementById("button_verify").style.display = "inline";

                        document.getElementById("remind_1").style.color = "green"
                        document.getElementById("remind_1").innerHTML = "发送成功";

                        document.getElementById("hash_tip").innerHTML = "交易hash：" + txHash + '';
                        document.getElementById("button_verify").innerHTML = "<a href='https://explorer.trias.one/translist/" + txHash + "' target='_blank' rel='noopener noreferrer'>去浏览器验证交易</a>"
                    } else {
                        document.getElementById("remind_1").style.color = "red"
                        document.getElementById("remind_1").innerHTML = "错误 " + res.message;
                    }
                })
                return false;
            }
        }

        document.getElementById("hash_tip").style.display = "none";
        document.getElementById("button_verify").style.display = "none";
    </script>

    <script src="/api/files/get_coinbase.js"></script>

</body>

</html>
