#header{
    background:rgba(0,2,26,1);
}
.warning-banner {
    text-align: center;
    padding: 22px 0;
    font-size: 16px;
    font-weight: 400;
    color: #f6f6f6;
    background: url('./assets/img/banner.png') no-repeat;
    background-size: cover;
}
.warning-banner i {
    font-size: 16px;
    color: #f6f6f6;
    line-height: 20px;
    margin-right: 12px;
}
.header-content{
    width:1080px;
    margin:0 auto;
    height:76px;
    padding:16px 0;
    .header-logo{
        width:100px;
        height:44px;
        display: inline-block;
    }
    .header-link{
        display: inline-block;
        float: right;
        margin-right: 44px;
        li{
            display: inline-block;
            list-style: none;
            font-size:16px;
            font-family:MoskMedium500;
            color:rgba(246,246,246,1);
            line-height:44px;
            margin: 0 28px 0 0;
            a{
                color:rgba(246,246,246,1);
                font-family:MoskMedium500;
            }
        }
    }
    .header-link-phone{
        display: none;
        float: right;
        
        li{
            display: inline-block;
            position: relative;
            margin-left:12px;
        }
        .icon-phone-nav{
            background: transparent;
            color: #dae1e9;
            padding: 8px 2px;
            position: relative;
            cursor: pointer;
            height: 26px;
            width: 48px;
            height: 38px;
            border-radius: 4px;
            border: 1px solid #313b44;
            text-align: center;
        }
        .select-list-box{
            position: absolute;
            z-index: 9;
            width: 200px;
            color: #dae1e9;
            top: 53px;
            right: 0;
            background: #2b2f37;
            -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,.8);
            box-shadow: 0 4px 10px 0 rgba(0,0,0,.8);
            border-radius: 4px;
            padding: 16px 24px;
            border: none;
            display: none;
            p{
                line-height: 36px;
                cursor: pointer;
                a{
                    color: #f6f6f6;
                    font-size: 16px;
                    font-family:MoskMedium500;
                }
                
            }
        }
        .select-list-box:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-bottom: 8px solid #2b2f37;
            top: -16px;
            right: 16px;
        }
    }
}
.common-footer{
    width: 100%;
    background: url(./assets/img/footer/bg_footer.jpg) no-repeat;
    background-size: 1005 458px;
    background-size: cover;
    line-height: 22px;
    font-family: MoskExtra-Light200;
    font-size: 14px;
    color: rgba(255,255,255,1);
    .contacts{
        width: 100%;
        height: 88px;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad16191b', endColorstr='#e616191b',GradientType=1 ); /* IE6-9 */
        background-image: linear-gradient(-90deg, rgba(22,25,27,0.90) 0%, rgba(22,25,27,0.68) 100%);
        text-align: center;
        line-height: 88px;
        >a{
            display: inline-block;
            width: 26px;
            margin: 0 42px;
            font-size: 26px;
            color: rgba(255,255,255,1);
        }
        > a:focus {
          outline: none;
        }
        .toggle-button{
            position: relative;
            cursor: pointer;
            .toggle-box{
                display: none;
                position: absolute;
                z-index: 2;
                padding: 8px;
                background: #f9fafb;
                border-radius: 4px;
                border: 1px solid #e4e7eb;
                top: 77px;
                right: -23px;
                box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
                color: #2B2F37;
                font-size: 15px;
                line-height: 24px;
                text-align: left;
            }
           .toggle-box:after {
                content: '';
                position: absolute;
                top: -13px;
                right: 23px;
                height: 0px;
                width: 0px;
                border-top: 5px solid transparent;
                border-right: 12px solid transparent;
                border-left: 12px solid transparent;
                border-bottom: 9px solid #f9fafb;
            }
            .toggle-box:before {
                content: '';
                position: absolute;
                top: -14px;
                right: 23px;
                height: 0px;
                width: 0px;
                border-top: 5px solid transparent;
                border-right: 12px solid transparent;
                border-left: 12px solid transparent;
                border-bottom: 9px solid #e4e7eb;    
            }
        }
        .wechat-button > .qrcode {
            width:118px;
            height:118px;
            text-align: center;
            background:#f9fafb;
            left: -68px;
        }
        .wechat-button > .qrcode img {
            width:100px;
            height: 100px;
        }    
        .telegram-button{
            display: inline-block;
            width: 26px;
            margin: 0 42px;
            font-size: 26px;
            .telegram-box {
                width: 250px;
                padding-left: 24px;
                user-select: text;
                a {
                    font-size: 15px;
                    line-height: 24px;
                    display: block;
                }
            }
        }
        .email-button{
            .email-box {                
                text-align: center;               
                cursor: text;
                user-select: text;
            }
        }
        .btn-icon.logo-biyong{
            display: inline-block;
            background:  url('./assets/img/footer/logo_biyong.png') no-repeat center;
            background-size: 26px;
        }
    }
    .center-box{
        // padding: 0 10rem;   
        width:1080px;
        margin: 0 auto;  
    }
    .info{
        width: 100%;
        height: auto;
        padding-bottom: 58px;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d116191b', endColorstr='#16191b',GradientType=1 ); /* IE6-9 */
        background-image: linear-gradient(-90deg, #16191B 0%, rgba(22,25,27,0.82) 100%);
        .intro, .links{
            display: inline-block;
            height: 274px;
            padding-top: 64px;
        }
        .intro{         
            img{
                width: 100px;
                height: 44px;
                margin-bottom: 24px;
            }
            p{
                font-family: MoskLight300;
                font-size: 14px;
                text-align: left;
                line-height: 22px;
                max-width: 324px;
            }
        }
        .links{
            float: right;
            .docs{
                width: 168px;
            }
            h2{
                font-family: MoskMedium500;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 16px;
            }
            .link>a{
                font-family: MoskLight300;
                font-size: 14px;
                color: rgba(255,255,255,1);
                line-height: 22px; 
            }
        }
        hr{
            border: 1px solid #979797;
            border-bottom: none;
            margin: 0;
            margin-bottom: 21px;
        }
    }
  }

  
  .toggle-wallet{
      position: relative;
      
      p.current-wallet-name{
        width:133px;
        height:30px;
        background:rgba(42,83,41,1);
        border-radius:15px;
        border:1px solid rgba(93,184,92,1);
        line-height: 30px;
        text-align: center;
        font-size:16px;
        font-family:MoskMedium500;
        color:rgba(246,246,246,1);
        i{
            margin-left: 8px;
        }
      }
      p.current-wallet-name-phone{
        background: transparent;
        color: #dae1e9;
        padding: 8px 2px;
        position: relative;
        cursor: pointer;
        height: 26px;
        width: 48px;
        height: 38px;
        border-radius: 4px;
        border: 1px solid #313b44;
        text-align: center;
      }
      .pick-wallet-list{
          position: absolute;
          display: none;
          z-index: 9;
          width:160px;
          border-radius:4px;
          top:52px;
          right:0;
          background: #2b2f37;
          -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,.8);
          box-shadow: 0 4px 10px 0 rgba(0,0,0,.8);
          padding:16px 24px;
          p{
              line-height: 36px;
              a{
                font-size:16px;
                font-family:MoskMedium500;
                color: #f6f6f6;
              }
          }
      }
      .pick-wallet-list:after{
        content: '';
        position: absolute;
        top: -13px;
        right: 12px;
        height: 0px;
        width: 0px;
        border-top: 5px solid transparent;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        border-bottom: 9px solid #2b2f37;
      }
  }


  .select-language{
    p.current-wallet-name{
        width:auto;
        height:30px;
        background:transparent;
        border-radius:15px;
        border:none;
        line-height: 30px;
        text-align: center;
        font-size:16px;
        font-family:MoskMedium500;
        color:rgba(246,246,246,1);
        
        i{
            margin-left: 8px;
            color: #fff;
            font-size: 16px;
            line-height: inherit;
            height:inherit;
            width: inherit;
            display: inline-block;
            float: right;
        }
        i.fa-globe-americas{
            font-size: 30px;
            float: left;
        }
      }
  }


  @media only screen and(max-width:768px){
    .common-footer .center-box{
      padding: 0 12px;     
      width: 100%; 
    }
    #header{
        position: relative;
        z-index: 9;
    }
    .header-content{
        width:90%;
    }
    .header-content .header-link{
        display: none;
    }
    .header-content .header-link-phone{
        display: block;
        margin-right:57px;
        padding:0;
        
    }
  }
  @media screen and (max-width: 768px) {
    .header-content .header-logo{
        width: 90px;
        height: 40px;
    }
  .common-footer{
      background: url(./assets/img/footer/bg_footer_m@2x.jpg) no-repeat;    
      .contacts{
          height: 160px;
          line-height: 50px;
          padding-top: 30px;
          padding: 30px 18px 0 18px;
          .telegram-button, >a{
              margin: 0 18px;
          }
          .toggle-button .toggle-box{
              top: 50px;
          }
      }
      .info{
          padding-bottom: 24px;
          .intro, .links{
              height: auto;
              margin-bottom: 40px;
              float: none!important;
              display: block;
          }
          .links{
              padding-top: 0;
          }
          hr{
              margin-top: 24px;                
          }
          span{
              float: none;
          }
      } 
    }
  }
  