@font-face {
    font-family: 'MoskBold700';
    src: url('./assets/fonts/moskfont/MoskBold700.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MoskSemi-Bold600';
    src: url('./assets/fonts/moskfont/MoskSemi-Bold600.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MoskExtra-Bold800';
    src: url('./assets/fonts/moskfont/MoskExtra-Bold800.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MoskMedium500';
    src: url('./assets/fonts/moskfont/MoskMedium500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MoskUltra-Bold900';
    src: url('./assets/fonts/moskfont/MoskUltra-Bold900.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MoskThin100';
    src: url('./assets/fonts/moskfont/MoskThin100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MoskLight300';
    src: url('./assets/fonts/moskfont/MoskLight300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MoskExtra-Light200';
    src: url('./assets/fonts/moskfont/MoskExtra-Light200.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MoskNormal400';
    src: url('./assets/fonts/moskfont/MoskNormal400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}