
#tabs {
  width:100%;
  height:48px;
  border-bottom: 1px solid rgba(203,208,211,1);
  background:#fff;
}

.litecoin {
  #tabs {
    background:#fff;
  }
}
.ethereum {
  #tabs {
    width:100%;
    height:48px;
    // background:linear-gradient(270deg,rgba(255,255,255,1) 0%,rgba(242,243,248,0.9) 100%);
    background:#fff;
    border-bottom: 1px solid rgba(203,208,211,1);
  }
}
.ripple {
  #tabs {
    background:#fff;
  }
}
.stellar {
  #tabs {
    background:#fff;
  }
}
.bitcoincash {
  #tabs {
    background:#fff;
  }
}

#tabs .tabs {
  // display: flex;
  // justify-content: space-between;
  width: 1080px;
  margin:0 auto;
}

#tabs .tabs .tab {
  @include clickbtn;
  display: inline-block;
  height:48px;
  line-height: 48px;
  // width: 100%;
  margin-right:36px;
  text-align: center;

  font-size:16px;
  font-family:MoskLight300;
  color:rgba(113,124,136,1);

  @include breakpoint(portrait) {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  &:hover {
    color:#5DB85C;
  }

  &.active {
    // border-bottom: 4px solid darken($brand-green, 30%);
    color:#5DB85C;
  }
}

.litecoin {
  #tabs .tabs .tab {
    &.active {
      color:#5DB85C;
    }
  }
}
.ethereum {
  #tabs .tabs .tab {
    &.active {
      color:#5DB85C;
    }
  }
}
.ripple {
  #tabs .tabs .tab {
    &.active {
      color:#5DB85C;
    }
  }
}
.stellar {
  #tabs .tabs .tab {
    &.active {
      color:#5DB85C;
    }
  }
}
.bitcoincash {
  #tabs .tabs .tab {
    &.active {
      color:#5DB85C;
    }
  }
}

#tabs .tabs .tab__icon {
  width: 28px;
  height: 28px;
  display: block;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 5px;
  opacity: 0.3;

  @include breakpoint(portrait) {
    width: 36px;
    height: 36px;
  }
}

.tab__text {
  // display: block;
  @extend .jigsaw-light;
  // font-size: 14px;
  // opacity: 0.3;
  @include breakpoint(portrait) {
    font-size: 18px;
  }
}

.hide--portrait {
  display: inline-block;
  padding-left: 10px;
  @include breakpoint(portrait) {
    display: none;
  }
}
