.exchange_awaiting_deposit {
  .exchange_header {
    position: relative;
    ._subtitle {
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      color: #999;
      margin-bottom: 20px;
      @include breakpoint(portrait) {
        font-size: 32px;
        margin-bottom: 40px;
      }
    }
  }
  .instructions {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgba(145, 153, 158, 1);
    padding: 20px 0;
    @extend .jigsaw-regular;
    @include wrapdat;
    @include breakpoint(portrait) {
      font-size: 20px;
      margin-bottom: 40px;
    }
    margin-bottom: 20px;
    .instructions_min,
    .instructions_max {
      position: relative;
      font-size: 22px;
      font-family: MoskMedium500;
      color: rgba(203, 208, 211, 1);
    }
    .instructions_amount {
      margin: 0 10px;
      font-size: 28px;
      font-family: MoskMedium500;
      color: rgba(255, 255, 255, 1);
    }
    .instructions_min::after {
      position: absolute;
      bottom: 1px;
      right: 39px;
      height: 5px;
      content: 'Minimum';
      font-size: 15px;
    }
    .instructions_max::after {
      position: absolute;
      bottom: 1px;
      right: 39px;
      height: 5px;
      content: 'Maximum';
      font-size: 15px;
    }
    .instructions_next {
      position: absolute;
      bottom: -20px;
      width: 40px;
      height: 40px;
      background: url('./assets/img/icon_icon_transfer_A@2x.png') no-repeat;
      background-size: contain;
    }
  }
  ._title {
    margin: 20px;
    @include breakpoint(portrait) {
      font-size: 20px;
    }
  }
  .address__box {
    margin: 20px;
    @extend .generic_box;
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
    background: rgba(246, 247, 249, 1);
    border-radius: 4px;
    @include breakpoint(portrait) {
      margin-bottom: 40px;
    }
    ._address {
      @include ellipsis();
      @include textselect;
      @extend .jigsaw-light;
      display: block;
      padding-right: 40px;
    }
    @include breakpoint(portrait) {
      font-size: 26px;
      border-radius: 3px;
    }
  }
  .qr-code {
    margin-bottom: 15px;
  }
  ._market_info {
    margin: 20px;
    @extend .jigsaw-regular;
    margin-bottom: 5px;
    @include breakpoint(portrait) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
  ._back {
    cursor: pointer;
    float: right;
    user-select: none;
    line-height: 38px;
    margin: 20px;
    box-shadow: 0 2px 0 0 #459d44;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid #5DB85C;
    font-size: 16px;
    font-family: MoskLight300;
    color: rgba(93, 184, 92, 1);
    padding: 0px 31px;
    @include breakpoint(portrait) {
      font-size: 20px;
    }
    ._icon {
      width: 25px;
      height: 25px;
      background-size: 25px 25px;
      @include breakpoint(portrait) {
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
      }
      display: inline-block;
      vertical-align: top;
      background: url('./assets/img/arrow-left.svg');
      opacity: 0.6;
    }
  }
}

.swap_detail {
  background: rgba(246, 247, 249, 1);
  border-radius: 4px;
  margin: 20px;
  position: relative;
  background: #f6f7f9;
  border-radius: 4px;
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ._btn {
    @extend .csbtn;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -20px;
    padding: 0;
    padding-top: 7px;
    border-radius: 2px;
    @include breakpoint(portrait) {
      width: 48px;
      height: 48px;
      margin-top: -25px;
      right: 4px;
    }
    ._icon {
      width: 26px;
      height: 26px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -13px;
      margin-left: -13px;
      @include breakpoint(portrait) {
        width: 36px;
        height: 36px;
        margin-top: -18px;
        margin-left: -18px;
      }
    }
  }
  .instructions_next {
    position: absolute;
    bottom: -20px;
    width: 40px;
    height: 40px;
    background: url('./assets/img/icon_icon_transfer_b@2x.png') no-repeat;
    background-size: contain;
  }
  .swap_detail_title {
    font-size: 15px;
    font-family: MoskMedium500;
    color: rgba(93, 184, 92, 1);
    line-height: 24px;
    text-align: center;
    padding: 20px 0px 30px 0px;
  }
  .swap_detail_content {
    padding-bottom: 36px;
    display: flex;
    .swap_detail_content_l {
      flex: 1;
    }
    .swap_detail_content_r {
      // width: 60%;
      float: right;
      flex: 2;
      width: 338px;
      >div:first-child {
        border-top: 1px solid #CBD0D3;
      }
      >div {
        border-bottom: 1px solid #CBD0D3;
        display: flex;
        justify-content: flex-start;
        line-height: 27px;
        >div:nth-child(2n) {
          margin-left: 10px;
          width: auto;
          word-break: break-word;
          /*空白区域分配比例为1（作用于项目）
          左右得到的空白比例为0:1，所以右边会分配到剩余的所有空白区域，
          左边成固定的宽度，右边为自适应宽度*/
          flex-grow: 1;
          color: rgba(20, 42, 63, 1);
        }
        >div:nth-child(2n+1) {
          width: 120px;
          min-width: 120px;
          max-width: 120px;
          /*高度自由分配*/
          height: auto;
          color: #16191B;
          /*空白区域分配比例为0（作用于项目）*/
          flex-grow: 0;
        }
      }
    }
  }
}

.swap_target {
  background: rgba(246, 247, 249, 1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  flex-direction: column;
  padding: 20px 0;
  .swap_target_title {
    font-size: 15px;
    font-family: MoskLight300;
    color: rgba(22, 25, 27, 1);
    line-height: 24px;
  }
  .swap_target_address {
    font-size: 14px;
    font-family: MoskMedium500;
    color: rgba(20, 42, 63, 1);
    line-height: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .swap_detail {
    padding-bottom: 16px;
    .swap_detail_title{
      padding-bottom: 20px;
    }
    #swap_qr-canvas{
      text-align: center;
      margin-bottom: 20px;
    }
    .swap_detail_content {
      padding: 10px;
      flex-direction: column;
      .swap_detail_content_r{
        width: auto;
      }
    }
  }
  ._back{
    width: 90%;
    margin-top: 0 !important;
  }
  .instructions{
    .instructions_min,.instructions_max, .instructions_min::after,.instructions_max::after{
      font-size: 12px !important;
    }
    .instructions_min::after{
    left: 0 !important;
    }
    .instructions_max::after{
      right: 0 !important;
    }
  }
}
